@charset "utf-8";

header
{
    background-image: url(https://i.pinimg.com/736x/b8/3e/e1/b83ee1327dd271af0e6a5767e3aca9e0.jpg);
}

/* Загальні стилі для сторінки */
body {
    margin: 0;
    padding: 0;
    background-color: #000; /* Колір фону сторінки (чорний) */
}

.menuul /*lifix bo malo shtuchok a blochat vonu vse*/
{
    list-style: none;
    margin: 0;
    padding: 10px;
}

.menuli /*lifix bo malo shtuchok a blochat vonu vse*/
{
    display: inline; 
}

.menua
{
    font-size: 40px;
    padding: 20px;
    color: black;
    text-decoration: none;
}

.menua:hover
{
    color: #FFCF48;
    text-decoration: none;
}

.menubutton {
    margin-top: 20px; /* Відступ між текстом і кнопкою */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.menubutton:hover {
    background-color: #0056b3;
}

/* Стилізація прозорого блоку */
.transparent-box {
    position: absolute;
    top: 45%; /* Встановлюємо вертикальне положення*/
    left: 30%; /* Встановлюємо горизонтальне положення*/
    transform: translate(-50%, -50%); /* Зміщення, щоб вирівняти центр блоку */
    background-color: rgba(0, 0, 0, 0.75); /* Прозорий чорний колір з прозорістю */
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
}

/* Зменшення відступу між абзацами */
.transparent-box p {
    margin: 10px 0; /* Встановлюємо вертикальний відступ в 5px, а горизонтальний - 0 */
    display: block;

     /* Змінити шрифт та розмір тексту */
     font-family: Arial, sans-serif; /* Змінити шрифт (Arial) */
     font-style: italic;
     font-size: 24px; /* Змінити розмір тексту (16px) */
}

.transparent-box p.newp {
    margin: 0;
    font-size: 16px;
}

.transparent-box p.newp2 {
    margin: 1;
    font-size: 20px;
}

.transparent-box a {
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.transparent-box a:hover {
    color: #FFCF48;
    text-decoration: none;
}

.transparent-box address {
    margin: 5;
    font-size: 20px;
}

.transparent-box img {
    width: 200px; /* Задаємо ширину в 200 пікселів */
    height: 300px; /* Задаємо висоту в 150 пікселів */
}

#box1 {
    top: 45%;
    left: 35%;
}

#box2 {
    top: 45%;
    left: 65%;
}

#news1 {
    top: 45%;
    left: 50%;
}

#lab3table1 {
    top: 25%;
    left: 10%;
}

#lab3table2 {
    top: 22.2%;
    left: 25%;
}

#lab3table3 {
    top: 50%;
    left: 11.5%;
}

#lab3table4 {
    top: 25%;
    left: 70%;
}

#lab3table5 {
    top: 50%;
    left: 70%;
}

#lab3table6 {
    top: 80%;
    left: 78%;
}

#allspells {
    position: fixed;
    top: 10%;
    left: 18%;
    width: 1200px;
    height: 800px;
}

#lab3ol {
    font-size: 20px; /* Розмір шрифту */
    margin: 10px; /* Зовнішні відступи */
    padding: 1; /* Внутрішні відступи (відступи для маркерів) */
}

#lab3nav {
    color: #FFCF48;
}

.lab3classdt {
    color: #FFCF48;
}

.lab3classdl {
    color: white;
}

.lab3classdir {
    color: #FFCF48;
}

.lab3classmenu {
    color: #FFCF48;
}

.lab3classmain {
    color: #FFCF48;
}

.lab3classbdi {
    color: #FFCF48;
}

#lab4table1 {
    top: 50%;
    left: 50%;
}

table, th, td {
    border: 1px solid black;
    /*border-collapse: collapse;*/
}

th, td {
    text-align: center;  
    padding: 5px 10px; 
}

.lab5td1{
    width: 30%;
}

.lab5td2{
    width: 20%;
}

.lab5td3{
    width: 15%;
}

#lab5table1 {
    top: 52%;
    left: 70%;
}

#lab5form1 {
    color: #FFCF48;
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.transparent-box label{
    flex: 1;
    margin-right: 10px;
    text-align: right;
}

.transparent-box input, select {
    flex: 2;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
